@model HomeViewModel
@inject ICofoundryHelper Cofoundry

@if (Model.Content == null)
{
    <p>
        This is some default homepage content. Please <a href="/admin/">log in</a> to customize.
    </p>
}
else
{
    @Cofoundry.Sanitizer.Sanitize(Model.Content)
}
